@charset "UTF-8";

.div-card-img {
    height: 149px;
    border-radius: 3px 3px 0px 0px;
    background-color: #888888;
}

.card-img-top {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}